<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP" />
            <add name="PHP" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="C:\php\php5isapi.dll" resourceType="File" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
